In [146]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import datetime as dt

In [147]:
rds_connection_string = "postgres:Dpspfmrlvk*9@localhost:5432/House_sales"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [148]:
engine.table_names()

['list_per_sq_ft', 'crime1']

In [149]:
data = pd.read_sql_table(con = engine, table_name = "list_per_sq_ft")
data.head()

,regionname,city,state,metro,countyname,sizerank,2010-01,2010-02,2010-03,2010-04,...,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06
0,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1,None,None,None,None,...,343.492135416667,340.136054421769,346.20723477715,342.962962962963,332.792332002661,332.792332002661,336.801962533452,344.290657439446,352.911764705882,352.777777777778
1,10023,New York,NY,New York-Newark-Jersey City,New York County,2,1191.76598049837,1163.30139927395,1163.30139927395,1280.71961435786,...,1569.37172774869,1557.21557088745,1578.64813644978,1618.49698251178,1611.80555555556,1515.83113456464,1483.7916013014,1498.33333333333,1537.69230769231,1513.01760809865
2,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,3,98.1665700001044,97.8290552972796,97.7848101265823,98.3137047023566,...,120.706052737306,120.451902008293,121.186249082958,121.057029454773,121.477406103286,121.330626973387,122.126436781609,123.04327573445,122.14983713355,122.387407083516
3,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,348.570652173913,333.333148148148,332.45,324.8125,...,441.85010007175,445.966381418093,458.715596330275,453.636363636364,444.5,443.467712177122,444.207533759773,449.245939675174,453.667054338696,457.500874125874
4,94109,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,11,None,None,None,None,...,1143.54066985646,1126.58981314045,1119.40298507463,1116.81507881531,1139.25819579286,1131.32911392405,1096.19250399223,1100.91743119266,1095.93023255814,1169.34046345811

In [150]:
# start = input("start: ")
# end = input("end: ")
start = "2019-1-1"
end = "2019-5-1"
start = datetime.strptime(start,'%Y-%m-%d')
end = datetime.strptime(end,'%Y-%m-%d')
start = datetime.strftime(start,'%Y-%m')
end = datetime.strftime(end,'%Y-%m')

In [151]:
df = data[["regionname","city","state","metro","countyname",start,end]]
df.rename(columns={"regionname":"zip"},inplace=True)
df["diff"] = df[end].astype(float)/df[start].astype(float)
df1 = df.sort_values("diff",ascending=True).head()
df1 = df1.reset_index(drop=True)
df1

C:\Users\DQ\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
C:\Users\DQ\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,zip,city,state,metro,countyname,2019-01,2019-05,diff
0,42129,Edmonton,KY,Glasgow,Metcalfe County,107.038123167155,82.378223495702,0.769616
1,74959,Spiro,OK,Fort Smith,LeFlore County,83.2608695652174,65.4432132963989,0.786002
2,74106,Tulsa,OK,Tulsa,Tulsa County,48.7880204969474,38.3487446440236,0.786028
3,64067,Lexington,MO,Kansas City,Lafayette County,78.33794881589,61.7606602475928,0.788388
4,54941,Green Lake,WI,None,Green Lake County,299.425360474979,236.22605816978,0.788931

In [152]:
zipcodes= df1["zip"]
cities = df1["city"]
states = df1["state"]
zipcode = zipcodes[0]
city = cities[0]
state = states[0]

In [153]:
# Create code to answer each of the following questions.
# Hint: You will need multiple target URLs and multiple API requests.

# Dependencies
import requests
import json
# from config import gkey
gkey = "AIzaSyA-Rjp6nOeJp6815Xt1Kkuxc5XKMiKl_yA"
# Retrieve Google API key from config.py

In [154]:
# 1. What are the geocoordinates (latitude/longitude) of Seattle, Washington?
target = zipcode

# Build the endpoint URL
target_url = (f'https://maps.googleapis.com/maps/api/geocode/json?address={target}&key={gkey}')
geo_data = requests.get(target_url).json()

In [155]:
# 2. What are the geocoordinates (latitude/longitude) of The White House?
lat = geo_data["results"][0]["geometry"]["location"]["lat"]
lng = geo_data["results"][0]["geometry"]["location"]["lng"]

# Print the latitude and longitude
print('''
    Place: {0}
    Latitude: {1}
    Longitude: {2}
    '''.format(target, lat, lng))

    Place: 42129
    Latitude: 37.0002026
    Longitude: -85.56121

In [156]:
# create dataframe/clear datafrmae
import pandas as pd
records = pd.DataFrame()

In [159]:
target_coordinates = str(lat) + "," + str(lng)
target_search = input("search: ")
target_radius = 8000
target_type = input("type: ")

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
places_data = response.json()

n=0
# while int(n) > len(places_data):
while int(n) < len(places_data["results"]):
    try:
        price=places_data["results"][int(n)]["price_level"]
    except KeyError:
        price = "NA"
    content = pd.DataFrame ({"type":target_search,
                            "name":[places_data["results"][int(n)]["name"]],
                            "score":[places_data["results"][int(n)]["rating"]],
                             "reviews":[places_data["results"][int(n)]["user_ratings_total"]],
                             "price":price,
                            "address":[places_data["results"][int(n)]["vicinity"]]})
    records = records.append(content)
    n+=1
records

search:  restaurant
type:

,type,name,score,reviews,price,address
0,supermarket,Edmonton IGA,3.9,122,NA,"1417 W Stockton St, Edmonton"
0,supermarket,Dollar General Market,4.2,237,1,"410 W Stockton St, Edmonton"
0,supermarket,MK Shop More,0.0,0,NA,"1005 W Stockton St, Edmonton"
0,supermarket,Wilson Express Food Mart,5.0,1,NA,"400 N Main St, Edmonton"
0,supermarket,"Jody Curry Used Cars, Llc.",5.0,1,NA,Edmonton
0,supermarket,Main Street Apparel,0.0,0,NA,"607 S Main St, Edmonton"
0,supermarket,Rite Aid,5.0,1,2,"612 W Stockton St, Edmonton"
0,supermarket,FiveStar,4.3,7,NA,"904 W Stockton St, Edmonton"
0,supermarket,Edmonton Ace Hardware,4.5,55,2,"805 W Stockton St, Edmonton"
0,supermarket,Judd's Custom Cabinets & Furniture,5.0,1,NA,"2920 Breeding Rd, Edmonton"
0,supermarket,Edmonton Memorial Park,4.3,11,NA,"100 Park St, Edmonton"
0,supermarket,Next 2 New,0.0,0,NA,"105 Shirley St, Subtle"
0,supermarket,Rough Country Equipment LLC,4.8,4,NA,"609 N Main St, Edmonton"
0,school,Metcalfe County High School,3.6,5,NA,"208 Randolph St, Edmonton"
0,school,Metcalfe Academy High School,0.0,0,NA,"1007 W Stockton St, Edmonton"
0,school,Metcalfe County Elementary,0.0,0,NA,"703 W Stockton St, Edmonton"
0,school,Revena School,0.0,0,NA,Edmonton
0,school,Flat Rock School,0.0,0,NA,Edmonton
0,school,Academy High School,0.0,0,NA,"112 Sartin Dr, Edmonton"
0,school,Old School Cafe,4.6,34,1,"805 W Stockton St, Edmonton"
0,school,Metcalfe County Tech Office,0.0,0,NA,"101 Hornet Ave, Edmonton"
0,restaurant,Pappyâ€™z,4.3,73,NA,"601 S Main St, Edmonton"
0,restaurant,Mi Pueblo Mexican Restaurant,4.3,116,2,"107 Shirley St, Edmonton"
0,restaurant,City Grill,4.8,12,NA,"300 N Main St, Edmonton"
0,restaurant,China House,4.4,65,1,"1003 W Stockton St, Edmonton"
0,restaurant,Pepe's Mexican Grill #2,4.8,17,NA,"417 W Stockton St, Edmonton"
0,restaurant,Pizza Hut,3.8,87,1,"1004 W Stockton St, Edmonton"
0,restaurant,Minnie's Southern Cafe,4.5,26,NA,"611 W Stockton St, Edmonton"
0,restaurant,Bistro,0.0,0,NA,"1410 W Stockton St, Edmonton"
0,restaurant,City Grill,5.0,1,NA,"100-108 Old Columbia St, Edmonton"
0,restaurant,Subway,4.1,30,1,"111 E Stockton St, Edmonton"
0,restaurant,John Dough LLC,0.0,0,NA,"625 Clay Lick Acres, Edmonton"
0,restaurant,Cherry Pedigo Jim's Grill,0.0,0,NA,Edmonton
0,restaurant,McDonald's,3.1,276,1,"1423 W Stockton St, Edmonton"

In [165]:
#to put it in dataframe
records.to_sql("local_place1",con=engine,index=False,if_exists='replace')

In [135]:
#crime rate data gathering
# Dependencies
# Dependencies
import os
from bs4 import BeautifulSoup as bs
import requests
import re
crime_rate = pd.DataFrame()
for n in range(0,len(df1)):
    state = states[n]
    city = cities[n]
    zipcode = zipcodes[n]
    # URL of page to be scraped
    url = f'https://www.bestplaces.net/crime/zip-code/{state}/{city}/{zipcode}'
    # Retrieve page with the requests module
    response = requests.get(url)

    # Create a Beautiful Soup object
    soup = bs(response.text, 'html.parser')

    # Print all divs with col-md-12
    divs = soup.find_all("div", {"class": "col-md-12"})
    # n=0
    # for div in divs:
    #     print(f'dqyun:{n}')
    #     n+=1
    #     print(div.text)
    s = str(divs[2]).split("violent crime is ")[1]
    result = re.findall(r"[-+]?\d*\.\d+|\d+", s)
    vcr = result[0]
    s = str(divs[2]).split("property crime is ")[1]
    result = re.findall(r"[-+]?\d*\.\d+|\d+", s)
    pcr = result[0]
    apnd = pd.DataFrame({"zip":[zipcode],
                        "violent crime": [vcr],
                        "property crime": [pcr]})
    print("df")
    crime_rate = crime_rate.append(apnd)

df
df
df
df
df

In [62]:
divs[2]

<div class="col-md-12">
<p>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</p><h5>Edmonton (zip 42129) violent crime is 31.9.<small>  (The US average is 22.7)</small></h5><h5>Edmonton (zip 42129) property crime is 36.1.<small>  (The US average is 35.4)</small></h5><hr/><h6>YOU SHOULD KNOW</h6> <p>Violent crime is composed of four offenses: murder and nonnegligent manslaughter, forcible rape, robbery, and aggravated assault.</p><p>Property crime includes the offenses of burglary, larceny-theft, motor vehicle theft, and arson. The object of the theft-type offenses is the taking of money or property, but there is no force or threat of force against the victims.</p>
</div>

In [136]:
crime_rate

     zip violent crime property crime
0  42129          31.9           36.1
0  74959          32.4           36.4
0  74106          74.8           86.1
0  64067          30.4           35.9
0  54941          19.3           22.9

In [137]:
crime_save = pd.merge(df1,crime_rate,on="zip")

In [140]:
crime_save.to_sql("crime1",con=engine,index=False,if_exists='replace')

In [161]:
engine.table_names()

['list_per_sq_ft', 'crime1', 'local_place1']

In [162]:
recalled_crime_data = pd.read_sql_table(con = engine, table_name = "crime1")
recalled_crime_data.head()

,zip,city,state,metro,countyname,2019-01,2019-05,diff,violent crime,property crime
0,42129,Edmonton,KY,Glasgow,Metcalfe County,107.038123167155,82.378223495702,0.769616,31.9,36.1
1,74959,Spiro,OK,Fort Smith,LeFlore County,83.2608695652174,65.4432132963989,0.786002,32.4,36.4
2,74106,Tulsa,OK,Tulsa,Tulsa County,48.7880204969474,38.3487446440236,0.786028,74.8,86.1
3,64067,Lexington,MO,Kansas City,Lafayette County,78.33794881589,61.7606602475928,0.788388,30.4,35.9
4,54941,Green Lake,WI,None,Green Lake County,299.425360474979,236.22605816978,0.788931,19.3,22.9

In [166]:
recalled_local_data = pd.read_sql_table(con = engine, table_name = "local_place1")
recalled_local_data.head()

,type,name,score,reviews,price,address
0,supermarket,Edmonton IGA,3.9,122,NA,"1417 W Stockton St, Edmonton"
1,supermarket,Dollar General Market,4.2,237,1,"410 W Stockton St, Edmonton"
2,supermarket,MK Shop More,0.0,0,NA,"1005 W Stockton St, Edmonton"
3,supermarket,Wilson Express Food Mart,5.0,1,NA,"400 N Main St, Edmonton"
4,supermarket,"Jody Curry Used Cars, Llc.",5.0,1,NA,Edmonton